$enable-rounded: false;
$input-btn-font-family: 'ubuntu';
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  width: 100%;
  max-width: 700px;
  max-height: 500px;
}

header {
  font-family: "ubuntu";
}
